{% extends 'base.html.twig' %}
{% block title %}Voici nos bières {{parent()}}{% endblock %}
{% block body %}
{% if belgiumBeers is defined %}
    <ul>
        {% for belgiumBeer in belgiumBeers %}
            <li>{{ belgiumBeer }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
{% block footer %}&copy; Copyright 2019.{% endblock %}