{% extends 'base.html.twig' %}
{% block title %}Voici nos bières {{parent()}}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<h1>Liste des bières</h1>
<ul>
    {% for beer in beers %}
        <li>{{ beer }}</li>
    {% endfor %}
</ul>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block footer %}&copy; Copyright 2019.{% endblock %}